:root{
    --dark-black: #030307;
    --gray: #23232E;
    --dark-black-light: #6E6F88;
    --dark-black-light-opacity: #6e6f8860;
    --dark-black-lighter: #90A9C7;
    --dark-orange: #F68940;
    --darker-orange: #27150F;
    --dark-orange-light: #9c562bb2;
    --border-color: #6F6361;
    
    --light-white: #FFFFFF;
    --light-white-dull: #F3F3FF;
    --light-white-dark: #9D9D9F;
    --light-white-darker: #9D9D9F;
    --light-orange: #F68940;
    --light-orange-dull: #FFB048;
    --light-orange-duller: #4e4e4e;

}
