.blogimage{
    width: 70%;
    border-radius: 20px;
    margin-top: 20px;
    border: 3px solid var(--dark-black-light);
}

.blogText {
    width: 70%;
    margin-top: 20px;
}
@media (max-width: 709px) {
    .blogText {
        width: 96%;
    }
    .blogimage {
        width: 90%;
    }
}