@import url("./alpha.css");
@font-face {
    font-family: 'code-normal';
    src:  url("./fonts/SourceCodePro-Regular.otf");
}
@font-face {
    font-family: 'code-bold';
    src:  url("./fonts/SourceCodePro-Bold.otf");
}
/* 
  Main card styles: Layout ...
*/
.container{
    margin: 0px auto;
    width: 1390px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* 
 Individual card styles ....
*/
.container .card:nth-child(1){
    width: 600px;
    min-height: 600px;
    align-items: center!important;
}
.container .card:nth-child(2){
    margin-left: -60px!important;
}
.container .card:nth-child(3),
.container .card:nth-child(4),
.container .card:nth-child(5),
.container .card:nth-child(6){
    opacity: 30%;
}
.card {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    position: relative;
    background: var(--dark-black);
    border: 1px solid var(--dark-black-light);
    height: 195px;
    width: 120px;
    border-radius: 20px;
}
.card .fill{
    margin-left: 10px;
    margin-bottom: 15px;
}
.CardHeader {
    color: var(--dark-black-light);
    font-family: "code-bold";
    font-size: 12px;
}
.CardHeader img{
    width: 65px;
    opacity: 40%;
}
.card p{
    width: 100px;
    font-size: 12px;
}
