@import url("./alpha.css");
@font-face {
    font-family: 'code-normal';
    src:  url("./fonts/SourceCodePro-Regular.otf");
}
@font-face {
    font-family: 'code-bold';
    src:  url("./fonts/SourceCodePro-Bold.otf");
}

.card {
    position: absolute;
    background: var(--dark-black);
    border: 1px solid var(--dark-black-light);
    height: 80vh;
    width: 300px;
    border-radius: 20px;
}

.CardHeader {
    color: var(--dark-black-light);
    font-family: "code-bold";
    font-size: 20px;
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.CardHeader img{
    width: 36px;
    opacity: 50%;
}

.card .center{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.card .center .image{
    margin-top: 5px;
    display: flex;
}
.card .center .image .data .ring{
    width: 37px;
    height: 37px;
    border: 4px solid var(--dark-orange-light);
    border-radius: 100px;
}
.card .center .image .data .ring:nth-child(1){
    margin-left: 10px;
    margin-top: 140px;
}
.card .center .image .data .ring:nth-child(2){
    margin-left: 10px;
    margin-top: 15px;
}
.card .center .image .data .ring:nth-child(3){
    margin-top: 7px;
    margin-left: -16px;
}
.card .center p{
    width: 230px;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}
.card .center .highliter{
    color: var(--dark-orange);
    font-family:code-bold;
}
.expandButton{
    position: absolute;
    margin-top: 30px;
    text-align: center;
    bottom: 20px;
    width: 100%;
}
.expandButton button{
    font-weight: bolder;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 4px 6px;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    background: var(--dark-orange-light);
    color: var(--dark-black);
}
.expandButton button img{
    width: 14px;
    margin-left: 5px;
    margin-top: 3px;
}