.homeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ImageContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}
.profilePic{
    opacity: 50%;
}
.homeinfo{
    position: relative;
    background: #030307;
    padding-top: 20px;
    margin-top: -60px;
}
.ImageContainer p{
    margin-left: 5px;
    font-size: 27px;
    width: 250px;
}
.ImageContainer span {
    color: var(--dark-orange);
    font-weight: bold;
}
.ImageContainer .rings{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}
.ImageContainer .rings .ring{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    border: 3px solid var(--dark-orange-light);
}
.ImageContainer .rings .ring:nth-child(2),
.ImageContainer .rings .ring:nth-child(3){
    margin-left: 30px;
}

@media (max-width: 709px){
    .ImageContainer {
        margin-top: 120px!important;
        margin: 0px auto;
        text-align: center;
    }
    .ImageContainer img{
        width: 150px!important;
    }
    .ImageContainer .rings {
        align-items: center;
        justify-content: center;
    }
    .ImageContainer .rings .ring {
        width: 30px;
        height: 30px;
    }
}