@font-face {
    font-family: "Segeo UI";
    src: url("./fonts/Segoe UI.ttf");
}
:root {
    --animationSpeed: all linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%) 0.8s;
}

.homeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ImageContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}
.profilePic{
    opacity: 50%;
}
.homeinfo{
    position: relative;
    background: #030307;
    padding-top: 20px;
    margin-top: -60px;
}
.ImageContainer p{
    margin-left: 5px;
    font-size: 27px;
    width: 250px;
}
.ImageContainer span {
    color: var(--dark-orange);
    font-family: system-ui ;
}
.ImageContainer .rings{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}
.ImageContainer .rings .ring{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    border: 3px solid var(--dark-orange-light);
}
.ImageContainer .rings .ring:nth-child(2),
.ImageContainer .rings .ring:nth-child(3){
    margin-left: 30px;
}

.CallToAction{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.Button p{
    opacity: 60%;
}

@media (max-width: 709px){
    .ImageContainer {
        margin-top: 120px!important;
        margin: 0px auto;
        text-align: center;
    }
    .homeinfo{
        margin-top: -44px;
    }
    .ImageContainer img{
        width: 150px!important;
    }
    .ImageContainer .rings {
        align-items: center;
        justify-content: center;
    }
    .ImageContainer .rings .ring {
        width: 30px;
        height: 30px;
    }
}