@import url("./Components/css/alpha.css");

@font-face {
    font-family: 'code-normal';
    src:  url("./fonts/SourceCodePro-Regular.otf");
}
@font-face {
    font-family: 'code-bold';
    src:  url("./fonts/SourceCodePro-Bold.otf");
}

*{
    padding: 0;
    margin: 0;
    font-family: "code-normal";
}

body{
    overflow-x: hidden;
    background: var(--dark-black);
    color: var(--dark-black-lighter);
}

